<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="matchs">
	<select id="select1" parameterType="String" resultType="matchVO">
		select * from MATCHS where mid = #{mid}
	</select>
	<select id="select2" parameterType="String" resultType="matchVO">
		select * from MATCHS where mbti = #{mbti}
	</select>
	<select id="select3" parameterType="String" resultType="String">
		select mbti from MATCHS where mid  
	</select>
	<insert parameterType="matchVO" id="insert">insert into MATCHS values(#{mid}, #{drink}, #{smoke}, #{believe}, #{tall}, #{mbti}, #{place}, #{contact}) </insert>

	<update parameterType="matchVO" id="update">update MATCHS set drink=#{drink}, smoke=#{smoke}, believe=#{believe}, tall=#{tall},mbti=#{mbti}, place=#{place}, contact=#{contact} where mid=#{mid} </update>

	<select parameterType="matchVO" id="select" resultType="matchVO">select *from MATCHS where mid=#{mid} </select>
	
</mapper>
